@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('Rectangle.png');
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    width: 90%;
    max-width: 400px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}

.container h1 {
    padding-left: 10%;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px; /* Разделение элементов в header */
    margin-bottom: 20px;
}

.sidebar {
    position: fixed;
    left: -250px; /* Hide sidebar off-screen */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: left 0.3s ease; /* Smooth transition */
    padding: 20px;
    z-index: 1000; /* Ensure it's on top */
    background-color: #2a2a2a00;
    backdrop-filter: blur(30px);
}

.sidebar.active {
    left: 0; /* Show sidebar */
}
.sidebar a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: block;
    margin: 20px 0;
    font-size: 1.2rem;

    
}

.menu-icon {
    cursor: pointer; /* Change cursor to pointer */
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.username {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px; /* Отступ от фотографии */
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto; /* Сместить меню в край */
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    padding-left: 10%;
    gap: 10px;
    margin-bottom: 20px;
    
}

.add-button,
.tag {
    background-color: #fff;
    color: #121212;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.work {
    background-color: #6f42c1;
    color: #fff;
}

.home {
    background-color: #dc3545;
    color: #fff;
}

.project-card {
    background-color: #2a2a2a69;
    backdrop-filter: blur(40px);
    padding: 35px 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 15px auto;
    text-align: left;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s;
    border: 2px solid #3f3f3f47;
    transition: 0.8s;
}

.Cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #212121;
}

.project-card:hover {
    backdrop-filter: blur(400px);
}

.project-card h2 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.project-card p {
    font-size: 0.9rem;
    color: #ccc;
}

.external-link {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
}





