body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-family: "Nunito", sans-serif;
}

.navbar-brand a {
  font-weight: 700;
  font-size: 20px;
  color: #f2f2f2;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #e5e7eb;
}



main {
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
}

.container {
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-height: 100px;
  max-width: 300px;
  margin-top: 30px;
}

.message-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-box {
  padding: 15px;
  background-color: #1a1a1a;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.252);
  border-radius: 6px;
  cursor: pointer;
  width: 250px;
  height: auto;
  overflow: hidden;
  max-width: 250px;
  margin-bottom: 10px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.message-header h3 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: #f2f2f2;
  font-family: "Nunito", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.message-content {
  margin-top: 10px;
  font-size: 14px;
  color: #aaa;
  max-height: 60px;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.message-content p {
  max-width: 250px;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
    margin-top: 20px;
  }

  .message-box {
    padding: 12px;
    width: 100%;
    height: auto;
  }

  .message-header h3 {
    font-size: 14px;
    max-width: 100px;
    margin-top: 10px;
    padding-left: 20px;
  }

  .message-content {
    font-size: 12px;
  }
}

.material-icons {
  margin-top: 15px;
  color: #f2f2f2;
  padding-right: 10px;
}

a {
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  transition: 0.4s;
  font-size: 18px;
}




















