#logout {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: rgba(255, 0, 0, 0.593);
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: bold; 

}