
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #000000; /* Темный фон */
  color: #fff; /* Светлый текст */
  margin: 0;
  padding: 0;

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-family: "Nunito", sans-serif;
}

.navbar-brand a {
  font-weight: 700;
  font-size: 20px;
  color: #f2f2f2;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #e5e7eb;
}



a {
  color: #f2f2f2; /* Светлый текст */
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  transition: 0.4s;
  font-size: 18px;
  color: #ccc; /* Светлый текст при наведении */
}

input {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  border: 2px gray solid; /* Светлая граница */
  background-color: #1c1c1c00; /* Прозрачный фон */
  outline: none;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  color: #f2f2f2; /* Светлый текст */
  
}

button {
  margin-top: 25px;
  width: 250px;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #fff; /* Темный фон */
  color: black;/* Светлый текст */
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  transition: 0.3s;
  scale: 0.9;
  background-color: #444; /* Темный фон при наведении */
}
