body {
  font-family: "Nunito", sans-serif;
  background: #121212 url('/src/frontend/img/decor.png') no-repeat center center fixed;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
}

#description {
  margin-top: 5px;
  font-size: 50px;
}

.sub-description {
  color: rgba(255, 255, 255, 0.447);
  margin-top: -10px;
  font-style: italic;
}

.section-title {
  padding-top: 20px;
}

.image {
  width: 200px;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 20px;
}

.instruction {
  margin-top: 20px;
  font-size: 16px;
}

#bot {
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
}

#bot:hover {
  scale: 0.9;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.459);
}