/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    color: #f2f2f2;
    padding-top: 50px;
  }
  
  .container {
    text-align: center;
  }
  
  /* Стили для фото профиля */
  .profile-photo {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  
  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Стили для кнопок соцсетей */
  .social-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .social-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .social-button:hover {
    background-color: #555;
  }
  
  .social-button i {
    font-size: 24px;
  }
  

#bio {
  width: 250px;
  font-family: "Playwrite DE Grund", cursive;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#what {
  margin-bottom: 30px;
  margin-top: 40px;
  font-family: "Playwrite DE Grund", cursive;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 40px;
}
