.iphone-1415-pro-max-1 {
  font-family: 'Rubik';
  font-weight: bold;
  background: #FFFFFF;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.eng {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
}

.description {
  font-size: 25px;
  color: #000000;
  margin-bottom: 20px;
}

.start-button {
  font-size: 18px;
  color: #FFFFFF;
  background-color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.line-1, .line-2, .line-6 {
  background: #000000;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.section-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.step {
  display: flex;
  margin-bottom: 20px;
}

.step-number {
  font-size: 20px;
  color: #000000;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.step-description {
  font-size: 20px;
  color: #000000;
}

.future-plans {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.eyes {
  font-size: 40px;
  color: #000000;
}

.bot {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  color: #000000;
  position: absolute;
  top: 20px;
  right: 20px;
}

.lines {
  position: absolute;
  top: 70px;
  right: 20px;
}

.line-3, .line-5, .line-4 {
  background: #000000;
  height: 1px;
  margin-bottom: 10px;
}

.line-3 {
  width: 50px;
}

.line-5 {
  width: 100px;
}

.line-4 {
  width: 30px;
}
