body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    background: 
        url('decor.png')
        #121212; /* Цвет фона */
    background-size: 300%; /* Увеличиваем изображение на 150% */
    color: #ffffff;
}



.navbar {
    background-color: #1e1e1e;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-item {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: 0.2s;
}

.navbar-item:hover {
    color: #ffffff;
    text-shadow: rgba(255, 255, 255, 0.578) 1px 0 20px;
}

.navbar-item i {
    margin-right: 5px;
}

.navbar-text {
    font-size: 16px;
}

#icon {
    margin-left: 5px;
    padding-bottom: 1px;
}

#learned {
    align-items: center;
    text-align: center;
    padding-top: 35px;
    font-size: 22px;
}



#text_progress {
    align-items: center;
    text-align: center;
    padding-top: 35px;
    font-size: 38px;
}

#words_learned {

    padding: 1rem; /* Отступы внутри рамки */
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-family: "Nunito", sans-serif; /* Шрифт текста */
    font-size: 2rem; /* Размер текста */
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    animation: flicker 3s infinite; /* Применяем анимацию мерцания */
}

@keyframes flicker {
    0%, 100% {
        text-shadow: none; /* Без тени в начале и конце */
    }
    50% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), /* Мягкая тень */
                     0 0 20px rgba(255, 255, 255, 0.6); /* Более сильная тень */
    }
}


#continue_learn {
    padding-top: 0px;
    
}

#continue_learn button {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
}

button:hover {
    box-shadow: rgba(255, 255, 255, 0.236) 1px 0 50px;
}

h1 {
    text-shadow: rgba(255, 255, 255, 0.523) 1px 0 30px;
}

#social-links {
    display: flex;
    justify-content: center;
    padding-top: 45%;
}

.social-link {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-decoration: none;
    transition: 0.5s;
}

.social-link:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: rgba(255, 255, 255, 0.578) 1px 0 20px;
}

/* Общие стили для элемента progress */
/* Общие стили для элемента progress */
progress {
    width: 210px; /* Уменьшаем ширину для центрирования */
    height: 20px; /* Увеличиваем высоту для толщины */
    border: none; /* Убираем стандартные границы */
    border-radius: 10px; /* Скругляем углы */
    overflow: hidden; /* Скрываем выступающие части */
    margin: 0 auto; /* Центрируем по горизонтали */
    display: block; /* Делаем элемент блочным для центрирования */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.447);
}

/* Стили для фона прогресс бара */
progress::-webkit-progress-bar {
    background-color: #eee; /* Цвет фона */
    border-radius: 10px; /* Скругляем углы */
}

/* Стили для заполненной части прогресс бара */
progress::-webkit-progress-value {
    background-color: #00d107; /* Зеленый цвет */
    border-radius: 10px; /* Скругляем углы */

}

/* Стили для заполненной части прогресс бара в Firefox */
progress::-moz-progress-bar {
    background-color: #4CAF50; /* Зеленый цвет */
    border-radius: 10px; /* Скругляем углы */

}

/* Контейнер для центрирования прогресс бара */
#progress_bar {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100px; /* Высота контейнера для центрирования */
}
