body {
  background-color: #000000;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

body {
  background: #000; /* Черный фон */
  background-color: black; /* Градиент от черного к темно-серому и обратно */
  background-size: 400% 400%; /* Размер градиента */
  animation: gradient 15s ease infinite; /* Анимация градиента */
  position: relative; /* Для позиционирования псевдоэлемента */
  overflow: hidden; /* Скрыть выступающие части псевдоэлемента */
}

body::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.271) 0%, rgba(255, 255, 255, 0) 70%); /* Радиальный градиент для свечения */
  border-radius: 50%; /* Круглая форма */
  animation: glow 3s linear infinite; /* Анимация свечения */
}



@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes glow {
  0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }
  50% {
      transform: translate(-50%, -50%) scale(1.2);
      opacity: 0.5;
  }
  100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }
}

h1 {
  font-size: 45px;
  padding-top: 30px;
  font-weight: 350;
}

#start {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s;
}

button:hover {
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.841);
}

#btn_container {
  padding-top: 20px;
}

img {
  border: 2px white solid;
  border-radius: 10px;
  padding-top: 25px;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.315);
}
