body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    background-color: #121212;
    color: #ffffff;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border:2px white  solid;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    width: 100px;
    height: 30px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    
}

button {
    width: 125px;
    height: 40px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s;
}

#button {
    padding-top: 40px;
    padding-bottom: 10px;
}